@font-face {
    font-family: 'gaoduanhei';
    src: url('../assets/font/gaoduanhei.ttf');
}
@font-face {
    font-family: 'NotoSansHans-DemiLight';
    src: url('../assets/font/NotoSansHans-DemiLight.otf');
}
@font-face {
    font-family: 'xintangren';
    src: url('../assets/font/xintangren.ttf');
}
skill-description {
    font-size: 0.75em;
}
.card {
    position: relative;
    width: 400px;
    height: 560px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
}

.frame-top {
    position: absolute;
    top: 68px;
    right: 1%;
    width: 85%;
    height: 5%;
    border-color: #EDAB24;
    border-style: solid;
    border-width: 6px 0px 0px 0px;
}

.frame-right {
    position: absolute;
    top: 20px;
    right: 9%;
    width: 5%;
    height: 500px;
    border-color: #B22311;
    border-style: solid;
    border-width: 0px 5px 0px 0px;
}

.card-image {
    position: relative;
    width: 75%;
    height: 70%;
    margin: 20% 12% 10% 13%;
    background-size: cover;
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px 10px white inset;
}

.blur-background {
    position: absolute;
    top: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: 0.4;
}
.card-header {
    position: absolute;
    top: 0px;
    width: 100%;
}
.clan {
    font-size: 4.2em;
    margin: 0% 2% 2% 3%;
    display: inline-block;
    vertical-align: top;
    font-family: 'gaoduanhei';
    color: black;
    text-shadow: 1px 1px 1px #273268;
}
.blood {
    display: inline-block;
    vertical-align: top;
    margin-top: 6%;
    width: 30px;
    height: 30px;
    background-size: auto 100%;
    background-image: url("../assets/blood.png");
    background-repeat: no-repeat;
    background-position: center;
}
.profile-section {
    position: absolute;
    top: 100px;
    left: 2%;
    width: 96%;
    opacity: 0.9;
    border-radius: 5px;
}
.nickname {
    font-family: 'xintangren';
    font-size: 1.7em;
    margin: 2%;
    width: 5%;
    color: #273268;
    text-shadow: 2px 2px 2px white;
}
.name {
    font-family: 'xintangren';
    font-size: 3.0em;
    margin: 20px 0px 0px 0px;
    width: 5%;
    color: #273268;
    text-shadow: 0px 0px 0px white;
}
.skill-section {
    position: absolute;
    bottom: 1%;
    left: 4%;
    width: 92%;
    margin-bottom: 2%;
    background-color: #E0E0E0;
    opacity: 0.9;
    border-radius: 5px;
}
.skill-block {
    margin: 10px;
}
.skill-block div {
    display: inline-block;
    vertical-align: top;
}
.skill-title-content {
    font-family: 'gaoduanhei';
    font-size: 1.6em;
    width: 15%;
}
.skill-description-content {
    font-family: 'NotoSansHans-DemiLight';
    font-size: 0.8em;
    width: 83%;
}
