@font-face {
    font-family: 'gaoduanhei';
    src: url('../asset/font/gaoduanhei.ttf');
}
@font-face {
    font-family: 'NotoSansHans-DemiLight';
    src: url('../asset/font/NotoSansHans-DemiLight.otf');
}
@font-face {
    font-family: 'xintangren';
    src: url('../asset/font/xintangren.ttf');
}
skill-description {
    font-size: 11;
}
.card {
	position: relative;
	width: 400px;
	height: 560px;
    border-radius: 15px;
    border: 1px solid black;
	background-color: white;
}

.card-image {
	position: relative;
    width: 76%;
    height: 80%;
	margin: 18% 12% 2% 12%;
    background-size: cover;
    background-color: #cccccc;
    background-image: url("../profile.jpeg"); /*角色图片*/
    background-repeat: no-repeat;
    background-position: center;
	box-shadow: 0 0 8px 8px white inset;
	border-radius: 10px;
}

.blur-background {
    position: absolute;
	top: 0;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    width: 100%;
    height: 100px;
    background-color: white;
    opacity: 0.4;
}
.card-header {
    position: absolute;
	top: 0px;
    width: 100%;
}
.clan {
    font-size: 4.0em;
    margin: 2%;
    display: inline-block;
    vertical-align: top;
    font-family: 'gaoduanhei';
    color: black;
}
.blood {
    display: inline-block;
    vertical-align: top;
    margin-top: 6%;
    width: 30px;
    height: 30px;
    background-size: auto 100%;
    background-image: url("../asset/blood.png");
    background-repeat: no-repeat;
    background-position: center;
}
.profile-section {
    position: absolute;
    top: 100px;
    left: 2%;
    width: 96%;
    opacity: 0.9;
    border-radius: 5px;
}
.nickname {
    font-family: 'xintangren';
    font-size: 1.7em;
    margin: 2%;
    width: 5%;
    color: black;
}
.name {
    font-family: 'xintangren';
    font-size: 3.0em;
    margin: 20px 0px 0px 0px;
    width: 5%;
    color: black;
}
.skill-section {
    position: absolute;
    bottom: 1%;
    left: 4%;
    width: 92%;
    margin-bottom: 2%;
    background-color: #E0E0E0;
    opacity: 0.9;
    border-radius: 5px;
}
.skill-block {
    margin: 10px;
}
.skill-block div {
    display: inline-block;
    vertical-align: top;
}
.skill-title-content {
    font-family: 'gaoduanhei';
    font-size: 1.6em;
    width: 15%;
}
.skill-description-content {
    font-family: 'NotoSansHans-DemiLight';
    font-size: 0.8em;
    width: 83%;
}
